{% extends 'base.html' %}
{% load static %}

{% block title %} Homepage {% endblock %}

{% block css_file %}
    <link rel="stylesheet" href={% static 'main_app/homepage.css' %}>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="title">Hello, {{ user.username | title }}</h1>
        <div class="option-buttons">
            <button class="btn btn-primary">
                <a href="{% url 'all-cases' %}">Practice cases</a>
            </button>
        </div>
    {% else %}
        <h1>Hello!</h1>
        <button class="btn btn-primary">
            <a href="{% url 'login' %}">Login</a>
        </button>
        <button class="btn btn-primary">
            <a href="{% url 'register' %}">Create a new account</a>
        </button>
    {% endif %}
{% endblock %}  